# lesson01
# lesson02/
# lesson03/
# lesson04/
lesson04/Lesson4-ModelingLinearRelationships.ipynb
# lesson05/
# lesson06/
lesson06/images
# lesson07/
lesson07/images
# lesson08/
lesson08/images
lesson09/
lesson09/images
lesson10/
lesson11/
lesson12/
lesson13/
lesson14/
lesson15/
lesson16/
lesson17/
lesson18/
lesson19/
lesson20/
*.pdf
*.gz
*.tex
*.cls
*-notes.ipynb
.ipynb_checkpoints/
*.html
*.sty
zoomprep1.png